*{
  margin: 0;
	padding: 0;
  font-family: sans-serif;
}
.calculator {
    width: 250px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgb(249, 250, 252);
    /* border: solid; */

  }
  .calculator input[type="text"] {
    width: 200px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 20px;
    box-shadow: 0px -2px 16px rgba(0, 0, 0, 0.2);

  }
  .calculator button {
    width: 45px;
    height: 45px;
    margin: 5px;
    font-size: 20px;
    font-style: bold;
    box-shadow: 0px -2px 16px rgba(0, 0, 0, 0.2);

  }